* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
}

html {
  height: 0%;
  background: rgba(16, 17, 18, 1);
}

body {
  height: 100%;
  font-family: "Switzer", sans-serif;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
  overflow-x: hidden;
}
.nav {
  text-align: center;
}
.navbar-nav li.nav-item a.nav-link {
  color: white;
  padding: 5px 15px;
}
.nav-item .active {
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  background-color: #ffffff1a;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-menu {
  background-color: #2e2e2e;
  border-radius: 10px;
}

.navbar .dropdown-item {
  position: relative;
  padding: 0 .25rem;
  transition: all .3s;
}

.navbar .dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown-item:hover img {
  filter: brightness(150%);
  transition: all .3s;
}

.navbar .dropdown-item img {
  width: 150px;
  height: 120px;
  object-fit: cover;
  transition: all .3s;
}

.navbar .dropdown-item .prd-name {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  padding: 0 .25rem;
  color: #FFFFFF;
  transition: all .5s;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_g1 {
  width: 214.85px;
  margin-right: 50px !important;
  height: 177.14px;
  top: 113px;
}
.md_2 {
  font-family: Switzer;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 100px;
}
.mb_1 {
  background: -webkit-linear-gradient(96.86deg, #ff5993 55.54%, #ffcb01 89.47%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card {
  margin-top: 50px;
  background: #333;
  transition: all 0.2s ease;
  cursor: pointer;
}
.card .card-title {
  font-family: Switzer;
  font-size: 25px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.card .card-text {
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(195, 195, 195, 1);
}
.mike {
  font-family: Switzer;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  margin-top: 200px;
  text-align: center;
}
.inset_btr {
  color: #fff;
  margin-left: 20px;
  font-family: Switzer;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.mb-3 {
  margin-left: 150px;
  color: #fff;
  font-family: Switzer;
  font-size: 24px;
  width: 366px;
  height: 56px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.mb-p3 {
  color: rgba(195, 195, 195, 1);
  margin-left: 150px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.text-uppercase .mb-3 {
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
  margin-left: -100px;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-title {
  width: fit-content;
  font-size: 24px;
}

.footer-list-item {
  margin: 0;
  width: fit-content;
}

.footer-list-item li {
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}