@import url("https://fonts.cdnfonts.com/css/switzer");
* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
}
html {
  height: 0%;
  overflow-x: hidden;
  background: rgba(16, 17, 18, 1);
}

body {
  font-style: normal;
  height: 100vh;
  font-family: "Switzer", sans-serif;
  font-style: normal;
  height: 100%;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}

html {
  height: 0%;
  background: rgba(16, 17, 18, 1);
}

body {
  height: 100%;
  font-family: "Switzer", sans-serif;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}
.nav {
  text-align: center;
}
.navbar-nav li.nav-item a.nav-link {
  color: white;
  padding: 5px 15px;
}
.nav-item .active {
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  background-color: #ffffff1a;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-menu {
  background-color: #2e2e2e;
  border-radius: 10px;
}

.navbar .dropdown-item {
  position: relative;
  padding: 0 .25rem;
  transition: all .3s;
}

.navbar .dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown-item:hover img {
  filter: brightness(150%);
  transition: all .3s;
}

.navbar .dropdown-item img {
  width: 150px;
  height: 120px;
  object-fit: cover;
  transition: all .3s;
}

.navbar .dropdown-item .prd-name {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  padding: 0 .25rem;
  color: #FFFFFF;
  transition: all .5s;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  background: #4285f4;
  color: #fff;
  text-transform: uppercase;
  border-radius: 30px;
  width: 250px;
  margin-top: 50px;
  height: 55px;
  margin-left: 200px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;

  cursor: pointer;
}
.upscale-denoise-and {
  color: #fff;
  margin-top: 140px;
  text-align: left;
  font-family: Switzer;
  font-size: 84px;
  width: 831px;
  height: 294px;
  font-weight: 600;
  line-height: 98px;
  letter-spacing: 0em;
  text-align: left;
}
.mc_1 {
  background: -webkit-linear-gradient(113.24deg, #722fff 40.29%, #b12eff 89.4%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text_Upscale {
  background: -webkit-linear-gradient(94.9deg, #ffcb01 0.44%, #ff5993 60.94%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.button:hover {
  box-shadow: 0px 37px 20px -20px rgba(0, 0, 0, 0.2);
}
.img_veto {
  width: 55px;
}
.boderexam1 {
  border: 2px dotted #ffffff;
  width: 666px;
  height: 162px;
  margin-top: 60px;
  top: 502px;
  left: 135px;
  border-radius: 16px;

  background: rgba(46, 46, 46, 1);
}
.upload-image {
  width: 450px;
  margin-top: 280px;
  height: 450px;
}
.h_1 {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-top: 20px;
  letter-spacing: 0em;
  margin-left: 240px;
  color: #fff;
}
.image_2 {
  width: 402px;
  height: 90px;
  margin-top: 20px;
  margin-left: 150px;
  border-radius: 10px;
}
.intas_2 {
  width: 537px;
  height: 480px;
  margin-top: 250px;
}
.md_h4 {
  margin-top: 330px;
  color: #fff;
  font-family: Switzer;
  font-size: 62px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
.Upscale {
  background: -webkit-linear-gradient(94.44deg, #ffcb01 7.05%, #ff5993 66.87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.md_p4 {
  color: rgba(195, 195, 195, 1);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.btn_2 {
  width: 199px;
  height: 52px;
  color: #fff;
  background: rgba(0, 88, 255, 1);
  padding: 12px, 32px, 12px, 32px;
  border-radius: 25px;
  margin-top: 20px;
  border: #4285f4;
}
.mb_h3 {
  font-family: Switzer;
  font-size: 55px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  width: 420px;
  height: 222px;
  margin-top: 280px;
}
.Upscale_rgb {
  background: -webkit-linear-gradient(99.81deg, #0058ff 36.46%, #0095ff 75.24%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mb_p3 {
  color: rgba(195, 195, 195, 1);
  font-family: Switzer;
  font-size: 17px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.img_3 {
  width: 537px;
  height: 430px;
  margin-top: 280px;
}
.text_proodus {
  background: -webkit-linear-gradient(
    107.4deg,
    #ff5e8d 62.41%,
    #ffb320 90%,
    #b12eff 90%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.md_h5 {
  color: #fff;
  margin-left: 30px;
  font-family: Switzer;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 200px;
}
.card {
  margin-top: 55px;
  background: #333;
  transition: all 0.2s ease;
  cursor: pointer;
}
.card-group:hover {
  border: 1px solid rgba(255, 203, 1, 1);
  background: rgba(16, 17, 18, 1);
  transition: all 0.2s ease;
}

.card .card-title {
  font-family: Switzer;
  font-size: 25px;
  font-weight: 600;
  margin-top: 40px;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}
.card .card-text {
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(195, 195, 195, 1);
}
.card .card-header {
  width: 970px;
  height: 144px;
  top: 231px;
  left: 235px;
  border-radius: 10px;
}
.t_1 {
  background: -webkit-linear-gradient(102.07deg, #722fff 4.6%, #b12eff 80.31%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Switzer;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
}
.t1 {
  font-family: Switzer;
  font-size: 62px;
  margin-top: 100px;
  margin-left: 70px;
  color: #fff;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
.p_2 {
  margin-top: 20px;
  margin-left: 70px;
  color: rgba(232, 232, 232, 1);
  font-family: Switzer;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.h_2 {
  font-family: Switzer;
  font-size: 72px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
  width: 970px;
  height: 172px;
  margin-left: -75px;
}
.p_2 {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(195, 195, 195, 1);
}
.Up_m2 {
  background: -webkit-linear-gradient(
    100.11deg,
    #ac2ef8 20.64%,
    #fc5796 60.86%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.p_2 {
  width: 880px;
  height: 56px;
  margin-left: -30px;
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: center;
}
.mb_h3 {
  font-family: Switzer;
  font-size: 62px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
  width: 535px;
  height: 222px;
}
.mb_p3 {
  width: 470px;
  height: 84px;

  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.faqs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

h2.title {
  display: inline-block;
  margin: 0;
  font-weight: bold;
  background: linear-gradient(to right, #722fff 0%, #b12eff 91.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  font-size: 3.5rem;
}

.accordion {
  width: 80%;
  padding: 20px 0;
}

.accordion-item {
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background: #2e2e2e;
}

.accordion-item:first-of-type {
  border-radius: 5px;
}

.accordion-item:last-of-type {
  border-radius: 5px;
}

.accordion-header {
  display: flex;
  align-items: center;
}

.accordion-btn {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: start;
  width: 100%;
  padding: 20px;
}

.accordion-btn .content {
  color: #ffffff;
}

.content .top-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 0.6rem;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
}

.content .icon.plus {
  background-color: #ffffff;
  color: #2e2e2e;
}

.content .accordion-collapse {
  color: #c3c3c3;
  font-weight: normal;
  font-size: 0.6rem;
  margin-top: 10px;
}
