* {
  padding: 0;
  margin: 0;
  font-family: "Switzer", sans-serif;
}
html {
  height: 0%;
  overflow-x: hidden;
  background: rgba(16, 17, 18, 1);
}
body {
  height: 100%;
  font-family: "Switzer", sans-serif;
  align-items: center;
  justify-content: center;
  scrollbar-width: none;
}
.nav {
  text-align: center;
}
.navbar-nav li.nav-item a.nav-link {
  color: white;
  padding: 5px 15px;
}
.nav-item .active {
  align-items: center;
  gap: 5px;
  padding: 5px 15px;
  background-color: #ffffff1a;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
}

.navbar .dropdown-menu {
  background-color: #2e2e2e;
  border-radius: 10px;
}

.navbar .dropdown-item {
  position: relative;
  padding: 0 .25rem;
  transition: all .3s;
}

.navbar .dropdown-item:hover {
  background-color: transparent;
}

.navbar .dropdown-item:hover img {
  filter: brightness(150%);
  transition: all .3s;
}

.navbar .dropdown-item img {
  width: 150px;
  height: 120px;
  object-fit: cover;
  transition: all .3s;
}

.navbar .dropdown-item .prd-name {
  position: absolute;
  inset: 50%;
  transform: translate(-50%, -50%);
  padding: 0 .25rem;
  color: #FFFFFF;
  transition: all .5s;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Union_1 {
  width: 30px;
  height: 32px;
  top: 33px;
  left: 135px;
  border: 0.64px;
  margin-left: 60px;
}
.navbar-brand text-white {
  width: 142px;
  height: 32px;
  top: 33px;
  left: 135px;
  margin-left: auto;
}
.nav-item-sec {
  width: 234px;
  height: 38px;
  top: 30px;
  left: 1071px;
  border-radius: 18px;
  border: 1px;
  margin-left: 400px;
}
.upscale-d {
  color: #fff;
  font-family: Switzer;
  font-size: 80px;
  font-weight: 600;
  line-height: 86px;
  letter-spacing: 0em;
  text-align: center;
}
.text_Upscale {
  margin-left: 30px;
}
.t1_Upsca {
  margin-left: 30px;
  color: #fff;
  font-family: Switzer;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.mb_i3 {
  width: 1100px;
  height: 438px;
  border-radius: 20px;
}
.p_2 {
  color: rgba(195, 195, 195, 1);
  font-family: Switzer;
  font-size: 16px;
  width: 770px;
  height: 84px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 140px;
  margin-top: 20px;
}
.p_1 {
  color: rgba(195, 195, 195, 1);
  font-family: Switzer;
  font-size: 16px;
  width: 770px;
  height: 84px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 140px;
}
.p_3 {
  color: rgba(195, 195, 195, 1);
  font-family: Switzer;
  font-size: 16px;
  width: 770px;
  height: 84px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 140px;
}
.Ds_2 {
  color: #fff;
  margin-top: 30px;
  margin-left: 138px;
  font-family: Switzer;
  font-size: 44px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}
.md_i3 {
  width: 870px;
  height: 408px;
  border-radius: 20px;
}
.mb_h1 {
  color: #fff;
  font-family: Switzer;
  font-size: 62px;
  font-weight: 600;
  line-height: 74px;
  letter-spacing: 0em;
  text-align: left;
}
.cards card-title {
  color: #fff;
  font-family: Switzer;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
.card .card-text {
  font-family: Switzer;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-title {
  width: fit-content;
  font-size: 24px;
}

.footer-list-item {
  margin: 0;
  width: fit-content;
}

.footer-list-item li {
}


@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}